/*
Colors

Default colors of site

Markup:
<div style="background-color:#fff; color: #000; padding:20px">$colors.air.base</div>
<div style="background-color:#333; color: #fff; padding:20px">$colors.blackNeutral.base</div>
<div style="background-color:#eff4fa; color: #000; padding:20px">$colors.punch.base</div>
<div style="background-color:#1393f6; color: #fff; padding:20px">$colors.breeze.base</div>
<div style="background-color:#21c1ff; color: #fff; padding:20px">$colors.breeze.lighter</div>
<div style="background-color:#1272d5; color: #fff; padding:20px">$colors.serious.base</div>
<div style="background-color:#004183; color: #fff; padding:20px">$colors.serious.darker</div>
<div style="background-color:#ffd600; color: #000; padding:20px">$colors.warning.base</div>
<div style="background-color:#e7ab0c; color: #000; padding:20px">$colors.warning.darker</div>
<div style="background-color:#40d879; color: #000; padding:20px">$colors.reward.base</div>
<div style="background-color:#26a656; color: #fff; padding:20px">$colors.reward.darker</div>
<div style="background-color:#5ebd66; color: #000; padding:20px">$colors.rewardType.base</div>
<div style="background-color:#007c0a; color: #fff; padding:20px">$colors.rewardType.darker</div>
<div style="background-color:#b24141; color: #fff; padding:20px">$colors.bloody.base</div>
<div style="background-color:#6d0909; color: #fff; padding:20px">$colors.bloody.darker</div>
<div style="background-color:#536e7b; color: #fff; padding:20px">$colors.rastaGray.base</div>
<div style="background-color:#36474e; color: #fff; padding:20px">$colors.rastaGray.darker</div>
<div style="background-color:#e7e7e7; color: #000; padding:20px">$colors.recusaGray.base</div>
<div style="background-color:#eceff1; color: #000; padding:20px">$colors.offWhite.base</div>

Style guide: settings.colors

*/
@import url("//fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Users/eduardomatos/projects/getninjas/gaiden/node_modules/reset-css/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/eduardomatos/projects/getninjas/gaiden/node_modules/reset-css/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* line 31, /Users/eduardomatos/projects/getninjas/gaiden/node_modules/reset-css/_reset.scss */
body {
  line-height: 1;
}

/* line 34, /Users/eduardomatos/projects/getninjas/gaiden/node_modules/reset-css/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, /Users/eduardomatos/projects/getninjas/gaiden/node_modules/reset-css/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, /Users/eduardomatos/projects/getninjas/gaiden/node_modules/reset-css/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 44, /Users/eduardomatos/projects/getninjas/gaiden/node_modules/reset-css/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_links.scss */
a {
  color: #1393f6;
  text-decoration: none;
}

/* line 6, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_links.scss */
a:hover {
  text-decoration: underline;
}

/*
 *
 *  Headings
 *
 *  General heading styles
 *
 *  Markup:
 *  <h1>Page Title <small>Sub Page Title</small></h1>
 *  <hr/>
 *  <h2>Section Title <small>Sub Section Title</small></h2>
 *  <hr/>
 *  <h3>Container Title <small>Sub Container Title</small></h3>
 *  <hr/>
 *  <h4>Card Title <small>Sub Card Title</small></h4>
 *  <hr/>
 *  <h5>Info Title <small>Sub Info Title</small></h5>
 *  <hr/>
 *
 *  Style guide: generic.heading
*/
/*
Heading Classes

You can use classes to avoid implicity styles

Markup:
<h1 class="{{modifier_class}}">Page Title <small>Sub Page Title</small></h1>

.page-title - Page Title
.section-title - Section Title
.container-title - Container Title
.card-title - Card Title
.info-title - Info Title

Style guide: generic.heading.classes
*/
/* line 39, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
h1,
h2,
h3,
h4,
h5,
.page-title,
.section-title,
.container-title,
.card-title,
.info-title {
  color: #333;
  font-weight: 900;
}

/* line 54, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
.page-title small,
.section-title small,
.container-title small,
.card-title small,
.info-title small {
  display: block;
  font-style: italic;
  font-weight: 300;
}

/* line 61, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
h1,
.page-title {
  margin-bottom: 8px;
  font-size: 24px;
}

@media screen and (min-width: 360px) {
  /* line 61, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
  h1,
  .page-title {
    font-size: 36px;
  }
}

/* line 70, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
h1 small,
.page-title small {
  margin-top: 8px;
  font-size: 20px;
}

@media screen and (min-width: 360px) {
  /* line 70, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
  h1 small,
  .page-title small {
    font-size: 32px;
  }
}

/* line 80, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
h2,
.section-title {
  margin-bottom: 4px;
  font-size: 14px;
}

@media screen and (min-width: 360px) {
  /* line 80, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
  h2,
  .section-title {
    font-size: 24px;
  }
  /* line 85, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
  h2 small,
  .section-title small {
    font-size: 22px;
  }
}

/* line 93, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
h2 small,
.section-title small {
  margin-top: 4px;
  font-size: 20px;
}

/* line 99, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
h3,
.container-title {
  margin-bottom: 4px;
  font-size: 16px;
}

@media screen and (min-width: 360px) {
  /* line 99, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
  h3,
  .container-title {
    font-size: 18px;
  }
}

/* line 108, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
h3 small,
.container-title small {
  margin-top: 4px;
  font-size: 14px;
}

/* line 114, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
h4,
.card-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
}

/* line 122, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
h4 small,
.card-title small {
  margin-top: 4px;
  font-size: 14px;
}

/* line 128, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
h5,
.info-title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 4px;
}

/* line 136, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/generic/_heading.scss */
h5 small,
.info-title small {
  margin-top: 4px;
  font-size: 12px;
}

/*
 * TODO: temp
 */
/* line 8, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/components/_button.scss */
.button {
  display: flex;
  -webkit-transition: all ease-in 1s;
  transition: all ease-in 1s;
  color: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #40bf5e;
  background-image: linear-gradient(to top, #fff, #40bf5e);
  /* IE 8 */
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: .5;
  /* Safari 1.x */
  -khtml-opacity: .5;
  /* Good browsers */
  opacity: .5;
}

/* line 33, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/components/_button.scss */
.button__blocked {
  display: block;
}

/* line 43, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/ninja-gaiden.scss */
body {
  font-size: 16px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #333;
}

/* line 62, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
.container {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25%;
  padding-right: 1.25%;
}

/* line 2, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_clearfix.scss */
.no-flexbox .container::before, .no-flexbox .container::after {
  display: table;
  content: '';
}

/* line 8, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_clearfix.scss */
.no-flexbox .container::after {
  clear: both;
}

/* line 77, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
.no-flexbox .container [class*='col-'] {
  float: left;
}

/* line 27, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
[class*='col-small-'] {
  margin-right: 2.5%;
}

/* line 30, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
[class*='col-small-']:last-child {
  margin-right: 0;
}

/* line 34, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
[class*='col-small-'].col-centered {
  margin-right: auto;
  margin-left: auto;
}

/* line 42, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
[class*='col-'] {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

/* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
.col-small-1 {
  width: 6.04167%;
}

/* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
.col-small-2 {
  width: 14.58333%;
}

/* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
.col-small-3 {
  width: 23.125%;
}

/* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
.col-small-4 {
  width: 31.66667%;
}

/* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
.col-small-5 {
  width: 40.20833%;
}

/* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
.col-small-6 {
  width: 48.75%;
}

/* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
.col-small-7 {
  width: 57.29167%;
}

/* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
.col-small-8 {
  width: 65.83333%;
}

/* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
.col-small-9 {
  width: 74.375%;
}

/* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
.col-small-10 {
  width: 82.91667%;
}

/* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
.col-small-11 {
  width: 91.45833%;
}

/* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
.col-small-12 {
  width: 100%;
}

@media screen and (min-width: 767pxpx) {
  /* line 62, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .container {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
  /* line 2, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_clearfix.scss */
  .no-flexbox .container::before, .no-flexbox .container::after {
    display: table;
    content: '';
  }
  /* line 8, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_clearfix.scss */
  .no-flexbox .container::after {
    clear: both;
  }
  /* line 77, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .no-flexbox .container [class*='col-'] {
    float: left;
  }
  /* line 27, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  [class*='col-medium-'] {
    margin-right: 2.5%;
  }
  /* line 30, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  [class*='col-medium-']:last-child {
    margin-right: 0;
  }
  /* line 34, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  [class*='col-medium-'].col-centered {
    margin-right: auto;
    margin-left: auto;
  }
  /* line 42, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  [class*='col-'] {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-medium-1 {
    width: 6.04167%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-medium-2 {
    width: 14.58333%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-medium-3 {
    width: 23.125%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-medium-4 {
    width: 31.66667%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-medium-5 {
    width: 40.20833%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-medium-6 {
    width: 48.75%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-medium-7 {
    width: 57.29167%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-medium-8 {
    width: 65.83333%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-medium-9 {
    width: 74.375%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-medium-10 {
    width: 82.91667%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-medium-11 {
    width: 91.45833%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-medium-12 {
    width: 100%;
  }
}

@media screen and (min-width: 959pxpx) {
  /* line 62, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .container {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
  /* line 2, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_clearfix.scss */
  .no-flexbox .container::before, .no-flexbox .container::after {
    display: table;
    content: '';
  }
  /* line 8, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_clearfix.scss */
  .no-flexbox .container::after {
    clear: both;
  }
  /* line 77, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .no-flexbox .container [class*='col-'] {
    float: left;
  }
  /* line 27, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  [class*='col-normal-'] {
    margin-right: 2.5%;
  }
  /* line 30, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  [class*='col-normal-']:last-child {
    margin-right: 0;
  }
  /* line 34, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  [class*='col-normal-'].col-centered {
    margin-right: auto;
    margin-left: auto;
  }
  /* line 42, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  [class*='col-'] {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-normal-1 {
    width: 6.04167%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-normal-2 {
    width: 14.58333%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-normal-3 {
    width: 23.125%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-normal-4 {
    width: 31.66667%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-normal-5 {
    width: 40.20833%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-normal-6 {
    width: 48.75%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-normal-7 {
    width: 57.29167%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-normal-8 {
    width: 65.83333%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-normal-9 {
    width: 74.375%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-normal-10 {
    width: 82.91667%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-normal-11 {
    width: 91.45833%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-normal-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1199pxpx) {
  /* line 62, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .container {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25%;
    padding-right: 1.25%;
  }
  /* line 2, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_clearfix.scss */
  .no-flexbox .container::before, .no-flexbox .container::after {
    display: table;
    content: '';
  }
  /* line 8, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_clearfix.scss */
  .no-flexbox .container::after {
    clear: both;
  }
  /* line 77, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .no-flexbox .container [class*='col-'] {
    float: left;
  }
  /* line 27, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  [class*='col-large-'] {
    margin-right: 2.5%;
  }
  /* line 30, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  [class*='col-large-']:last-child {
    margin-right: 0;
  }
  /* line 34, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  [class*='col-large-'].col-centered {
    margin-right: auto;
    margin-left: auto;
  }
  /* line 42, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  [class*='col-'] {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-large-1 {
    width: 6.04167%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-large-2 {
    width: 14.58333%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-large-3 {
    width: 23.125%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-large-4 {
    width: 31.66667%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-large-5 {
    width: 40.20833%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-large-6 {
    width: 48.75%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-large-7 {
    width: 57.29167%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-large-8 {
    width: 65.83333%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-large-9 {
    width: 74.375%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-large-10 {
    width: 82.91667%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-large-11 {
    width: 91.45833%;
  }
  /* line 47, /Users/eduardomatos/projects/getninjas/gaiden/src/scss/tools/mixins/_grid.scss */
  .col-large-12 {
    width: 100%;
  }
}
