/*
Colors

Default colors of site

Markup:
<div style="background-color:#fff; color: #000; padding:20px">$colors.air.base</div>
<div style="background-color:#333; color: #fff; padding:20px">$colors.blackNeutral.base</div>
<div style="background-color:#eff4fa; color: #000; padding:20px">$colors.punch.base</div>
<div style="background-color:#1393f6; color: #fff; padding:20px">$colors.breeze.base</div>
<div style="background-color:#21c1ff; color: #fff; padding:20px">$colors.breeze.lighter</div>
<div style="background-color:#1272d5; color: #fff; padding:20px">$colors.serious.base</div>
<div style="background-color:#004183; color: #fff; padding:20px">$colors.serious.darker</div>
<div style="background-color:#ffd600; color: #000; padding:20px">$colors.warning.base</div>
<div style="background-color:#e7ab0c; color: #000; padding:20px">$colors.warning.darker</div>
<div style="background-color:#40d879; color: #000; padding:20px">$colors.reward.base</div>
<div style="background-color:#26a656; color: #fff; padding:20px">$colors.reward.darker</div>
<div style="background-color:#5ebd66; color: #000; padding:20px">$colors.rewardType.base</div>
<div style="background-color:#007c0a; color: #fff; padding:20px">$colors.rewardType.darker</div>
<div style="background-color:#b24141; color: #fff; padding:20px">$colors.bloody.base</div>
<div style="background-color:#6d0909; color: #fff; padding:20px">$colors.bloody.darker</div>
<div style="background-color:#536e7b; color: #fff; padding:20px">$colors.rastaGray.base</div>
<div style="background-color:#36474e; color: #fff; padding:20px">$colors.rastaGray.darker</div>
<div style="background-color:#e7e7e7; color: #000; padding:20px">$colors.recusaGray.base</div>
<div style="background-color:#eceff1; color: #000; padding:20px">$colors.offWhite.base</div>

Style guide: settings.colors

*/

$colors: (
  air: (base: #fff),
  blackNeutral: (base: #333),
  breeze: (base: #eff4fa, darker: #c9d7e8),
  punch: (base: #1393f6, lighter: #21c1ff),
  serious: (base: #1272d5, darker: #004183),
  warning: (base: #ffd600, darker: #e7ab0c),
  reward: (base: #40d879, darker: #26a656),
  rewardType: (base: #5ebd66, darker: #007c0a),
  bloody: (base: #b24141, darker: #6d0909),
  rastaGray: (base: #536e7b, darker: #36474e),
  recusaGray: (base: #e7e7e7),
  offWhite: (base: #eceff1)
);

$gradients: (
  wind: (breeze base darker),
  sky:  (punch lighter base),
  ocean: (serious base darker),
  golden: (warning base darker),
  field: (reward base darker),
  jungle: (reward base darker),
  heart: (bloody base darker),
  night: (rastaGray base darker)
);


@function get-color($color, $key: base, $palette: $colors) {
  @return map-get(map-get($palette, $color), $key);
};
