/*
  Headings

  General heading styles

  Markup:
  <h1>Page Title <small>Sub Page Title</small></h1>
  <hr/>
  <h2>Section Title <small>Sub Section Title</small></h2>
  <hr/>
  <h3>Container Title <small>Sub Container Title</small></h3>
  <hr/>
  <h4>Card Title <small>Sub Card Title</small></h4>
  <hr/>
  <h5>Info Title <small>Sub Info Title</small></h5>
  <hr/>

  Style guide: generic.heading
*/

/*
  Heading Classes

  You can use classes to avoid implicity styles

  Markup:
  <h1 class="{{modifier_class}}">Page Title <small>Sub Page Title</small></h1>

  .page-title - Page Title
  .section-title - Section Title
  .container-title - Container Title
  .card-title - Card Title
  .info-title - Info Title

  Style guide: generic.heading.classes
*/

h1,
h2,
h3,
h4,
h5,
.page-title,
.section-title,
.container-title,
.card-title,
.info-title {
  color: get-color(blackNeutral);
  font: {
    weight: 900;
  };

  small {
    display: block;
    font-style: italic;
    font-weight: 300;
  }
}

h1,
.page-title {
  @include media-gt(small) {
    font-size: 36px;
  }

  margin-bottom: 8px;
  font-size: 24px;

  small {
    @include media-gt(small) {
      font-size: 32px;
    }

    margin-top: 8px;
    font-size: 20px;
  }
}

h2,
.section-title {
  @include media-gt(small) {
    font-size: 24px;

    small {
      font-size: 22px;
    }
  }

  margin-bottom: 4px;
  font-size: 14px;

  small {
    margin-top: 4px;
    font-size: 20px;
  }
}

h3,
.container-title {
  @include media-gt(small) {
    font-size: 18px;
  }

  margin-bottom: 4px;
  font-size: 16px;

  small {
    margin-top: 4px;
    font-size: 14px;
  }
}

h4,
.card-title {
  font: {
    weight: 700;
    size: 16px;
  }
  margin-bottom: 4px;

  small {
    margin-top: 4px;
    font-size: 14px;
  }
}

h5,
.info-title {
  font: {
    weight: 700;
    size: 14px;
  }
  margin-bottom: 4px;

  small {
    margin-top: 4px;
    font-size: 12px;
  }
}
