/*
  Links

  Links style

  Markup:
  <a href="#">Link</a>

  Style guide: generic.links
*/

a {
  color: get-color(punch);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
